# Diretórios de build e dependências
node_modules/
dist/
tmp/
out-tsc/

# Cache do Angular
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ambiente
.env
.env.*.local

# Relatórios de testes e cobertura
coverage/
karma-coverage/

# Arquivos gerados por testes
test-results.xml

# Compilação do TypeScript
*.tsbuildinfo

# Relatórios do Lint
eslint-report.*

# Cache do Cypress ou Playwright (se usar)
cypress/screenshots/
cypress/videos/
playwright-report/
test-results/

# Git LFS (para prevenir confusão)
*.lfs
