<!-- FORMULÁRIO DE NOVO FUNCIONÁRIO -->
<div *ngIf="funcionarioAction.event.action === addFuncionarioAction">
  <form [formGroup]="addFuncionarioForm" (ngSubmit)="handleSubmitAddClient()">
    <div class="grid p-fluid">
      <div class="col-12 flex justify-content-center">
        <div class="p-field-radiobutton">
          <label for="pessoaFisica" class="mr-3">Pessoa Física</label>
          <p-radioButton
            inputId="pessoaFisica"
            name="tipoPessoa"
            value="PESSOA_FISICA"
            formControlName="tipoPessoa"
            (onClick)="onTipoPessoaChange(addFuncionarioForm)"
          ></p-radioButton>
        </div>
        <div class="p-field-radiobutton ml-5">
          <label for="pessoaJuridica" class="mr-3">Pessoa Jurídica</label>
          <p-radioButton
            inputId="pessoaJuridica"
            name="tipoPessoa"
            value="PESSOA_JURIDICA"
            formControlName="tipoPessoa"
            (onClick)="onTipoPessoaChange(addFuncionarioForm)"
          ></p-radioButton>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Nome"
          formControlName="nome"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('nome')?.invalid &&
              addFuncionarioForm.get('nome')?.touched
          }"
        />
      </div>
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Cargo"
          formControlName="cargo"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('cargo')?.invalid &&
              addFuncionarioForm.get('cargo')?.touched
          }"
        />
      </div>
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Salário"
          formControlName="salario"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('salario')?.invalid &&
              addFuncionarioForm.get('salario')?.touched
          }"
        />
      </div>
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Telefone"
          formControlName="telefone"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('telefone')?.invalid &&
              addFuncionarioForm.get('telefone')?.touched
          }"
        />
      </div>

      <div
        class="col-12 md:col-6"
        *ngIf="addFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
      >
        <input
          pInputText
          class="w-full"
          placeholder="CPF"
          formControlName="cpf"
          (input)="formatarCPF($event, addFuncionarioForm)"
          (keyup)="formatarCPF($event, addFuncionarioForm)"
          (keydown)="formatarCPF($event, addFuncionarioForm)"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('cpf')?.invalid &&
              addFuncionarioForm.get('cpf')?.touched
          }"
        />
      </div>
      <div
        class="col-12 md:col-6"
        *ngIf="addFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
      >
        <input
          pInputText
          class="w-full"
          placeholder="RG"
          formControlName="rg"
          (input)="formatarRG($event, addFuncionarioForm)"
          (keyup)="formatarRG($event, addFuncionarioForm)"
          (keydown)="formatarRG($event, addFuncionarioForm)"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('rg')?.invalid &&
              addFuncionarioForm.get('rg')?.touched
          }"
        />
      </div>
      <div
        class="col-12 md:col-6"
        *ngIf="addFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_JURIDICA'"
      >
        <input
          pInputText
          class="w-full"
          placeholder="CNPJ"
          formControlName="cnpj"
          (input)="formatarCNPJ($event, addFuncionarioForm)"
          (keyup)="formatarCNPJ($event, addFuncionarioForm)"
          (keydown)="formatarCNPJ($event, addFuncionarioForm)"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('cnpj')?.invalid &&
              addFuncionarioForm.get('cnpj')?.touched
          }"
        />
      </div>

      <div class="col-12" formGroupName="endereco">
        <div class="grid">
          <div class="col-12 md:col-6">
            <input
              pInputText
              class="w-full"
              placeholder="Rua"
              formControlName="rua"
              [ngClass]="{
                'p-invalid':
                  addFuncionarioForm.get('endereco.rua')?.invalid &&
                  addFuncionarioForm.get('endereco.rua')?.touched
              }"
            />
          </div>
          <div class="col-12 md:col-3">
            <input
              pInputText
              class="w-full"
              placeholder="Número"
              formControlName="numero"
              [ngClass]="{
                'p-invalid':
                  addFuncionarioForm.get('endereco.numero')?.invalid &&
                  addFuncionarioForm.get('endereco.numero')?.touched
              }"
            />
          </div>
          <div class="col-12 md:col-3">
            <input
              pInputText
              class="w-full"
              placeholder="Complemento"
              formControlName="complemento"
            />
          </div>
          <div class="col-12 md:col-4">
            <input
              pInputText
              class="w-full"
              placeholder="Bairro"
              formControlName="bairro"
              [ngClass]="{
                'p-invalid':
                  addFuncionarioForm.get('endereco.bairro')?.invalid &&
                  addFuncionarioForm.get('endereco.bairro')?.touched
              }"
            />
          </div>
          <div class="col-12 md:col-4" formGroupName="estado">
            <p-autoComplete
              [suggestions]="filteredEstados"
              (completeMethod)="filterEstados($event)"
              [dropdown]="true"
              formControlName="nome"
              field="nome"
              styleClass="w-full"
              placeholder="Selecione um estado"
              (onSelect)="onEstadoChange($event, addFuncionarioForm)"
              [ngClass]="{
                'p-invalid':
                  addFuncionarioForm.get('endereco.estado.nome')?.invalid &&
                  addFuncionarioForm.get('endereco.estado.nome')?.touched
              }"
            ></p-autoComplete>
          </div>
          <div class="col-12 md:col-4" formGroupName="cidade">
            <p-autoComplete
              formControlName="nome"
              [suggestions]="cidadesFiltradas"
              (completeMethod)="searchCidades($event)"
              (onSelect)="onCidadeSelect($event, addFuncionarioForm)"
              field="nome"
              styleClass="w-full"
              placeholder="Selecione uma cidade"
            ></p-autoComplete>
          </div>
        </div>
      </div>

      <div class="col-12 flex justify-content-center mt-3">
        <button type="submit" class="p-button">Concluir</button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULÁRIO DE EDITAR FUNCIONÁRIO -->
<div *ngIf="funcionarioAction.event.action === editFuncionarioAtion">
  <form [formGroup]="editFuncionarioForm" (ngSubmit)="handleSubmitEditClient()">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Nome"
          formControlName="nome"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('nome')?.invalid &&
              editFuncionarioForm.get('nome')?.touched
          }"
        />
      </div>
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Cargo"
          formControlName="cargo"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('cargo')?.invalid &&
              editFuncionarioForm.get('cargo')?.touched
          }"
        />
      </div>
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Salário"
          formControlName="salario"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('salario')?.invalid &&
              editFuncionarioForm.get('salario')?.touched
          }"
        />
      </div>
      <div class="col-12 md:col-6">
        <input
          pInputText
          class="w-full"
          placeholder="Telefone"
          formControlName="telefone"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('telefone')?.invalid &&
              editFuncionarioForm.get('telefone')?.touched
          }"
        />
      </div>

      <div
        class="col-12 md:col-6"
        *ngIf="editFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
      >
        <input
          pInputText
          class="w-full"
          placeholder="CPF"
          formControlName="cpf"
          (input)="formatarCPF($event, editFuncionarioForm)"
          (keyup)="formatarCPF($event, editFuncionarioForm)"
          (keydown)="formatarCPF($event, editFuncionarioForm)"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('cpf')?.invalid &&
              editFuncionarioForm.get('cpf')?.touched
          }"
        />
      </div>
      <div
        class="col-12 md:col-6"
        *ngIf="editFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
      >
        <input
          pInputText
          class="w-full"
          placeholder="RG"
          formControlName="rg"
          (input)="formatarRG($event, editFuncionarioForm)"
          (keyup)="formatarRG($event, editFuncionarioForm)"
          (keydown)="formatarRG($event, editFuncionarioForm)"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('rg')?.invalid &&
              editFuncionarioForm.get('rg')?.touched
          }"
        />
      </div>
      <div
        class="col-12 md:col-6"
        *ngIf="editFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_JURIDICA'"
      >
        <input
          pInputText
          class="w-full"
          placeholder="CNPJ"
          formControlName="cnpj"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('cnpj')?.invalid &&
              editFuncionarioForm.get('cnpj')?.touched
          }"
        />
      </div>

      <div class="col-12" formGroupName="endereco">
        <div class="grid">
          <div class="col-12 md:col-6">
            <input
              pInputText
              class="w-full"
              placeholder="Rua"
              formControlName="rua"
              [ngClass]="{
                'p-invalid':
                  editFuncionarioForm.get('endereco.rua')?.invalid &&
                  editFuncionarioForm.get('endereco.rua')?.touched
              }"
            />
          </div>
          <div class="col-12 md:col-3">
            <input
              pInputText
              class="w-full"
              placeholder="Número"
              formControlName="numero"
              [ngClass]="{
                'p-invalid':
                  editFuncionarioForm.get('endereco.numero')?.invalid &&
                  editFuncionarioForm.get('endereco.numero')?.touched
              }"
            />
          </div>
          <div class="col-12 md:col-3">
            <input
              pInputText
              class="w-full"
              placeholder="Complemento"
              formControlName="complemento"
            />
          </div>
          <div class="col-12 md:col-4">
            <input
              pInputText
              class="w-full"
              placeholder="Bairro"
              formControlName="bairro"
              [ngClass]="{
                'p-invalid':
                  editFuncionarioForm.get('endereco.bairro')?.invalid &&
                  editFuncionarioForm.get('endereco.bairro')?.touched
              }"
            />
          </div>
          <div class="col-12 md:col-4" formGroupName="estado">
            <p-autoComplete
              [suggestions]="filteredEstados"
              (completeMethod)="filterEstados($event)"
              [dropdown]="true"
              formControlName="nome"
              field="nome"
              styleClass="w-full"
              placeholder="Selecione um estado"
              (onSelect)="onEstadoChange($event, editFuncionarioForm)"
              [ngClass]="{
                'p-invalid':
                  editFuncionarioForm.get('endereco.estado.nome')?.invalid &&
                  editFuncionarioForm.get('endereco.estado.nome')?.touched
              }"
            ></p-autoComplete>
          </div>
          <div class="col-12 md:col-4" formGroupName="cidade">
            <p-autoComplete
              formControlName="nome"
              [suggestions]="cidadesFiltradas"
              (completeMethod)="searchCidades($event)"
              (onSelect)="onCidadeSelect($event, editFuncionarioForm)"
              field="nome"
              styleClass="w-full"
              placeholder="Selecione uma cidade"
            ></p-autoComplete>
          </div>
        </div>
      </div>

      <div class="col-12 flex justify-content-center mt-3">
        <button type="submit" class="p-button">Concluir</button>
      </div>
    </div>
  </form>
</div>
