<!-- FORMULÁRIO DE NOVO CLIENTE -->
<div *ngIf="funcionarioAction.event.action === addFuncionarioAction">
  <form [formGroup]="addFuncionarioForm" (ngSubmit)="handleSubmitAddClient()">
    <div class="card flex flex-column md:flex-column gap-3">
      <div
        class="p-field flex flex-row justify-content-center align-items-center align-content-center m-1"
      >
        <label for="pessoaFisica" class="mr-3">Pessoa Física</label>
        <p-radioButton
          class="mr-5 p-radiobutton"
          inputId="pessoaFisica"
          name="tipoPessoa"
          value="PESSOA_FISICA"
          formControlName="tipoPessoa"
          (onClick)="onTipoPessoaChange(addFuncionarioForm)"
        ></p-radioButton>
        <label for="pessoaJuridica" class="mr-3">Pessoa Jurídica</label>
        <p-radioButton
          inputId="pessoaJuridica"
          name="tipoPessoa"
          class="p-radiobutton"
          value="PESSOA_JURIDICA"
          formControlName="tipoPessoa"
          (onClick)="onTipoPessoaChange(addFuncionarioForm)"
        ></p-radioButton>
      </div>
      <input
        pInputText
        placeholder="Nome"
        formControlName="nome"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('nome')?.invalid &&
            addFuncionarioForm.get('nome')?.touched
        }"
      />
      <input
        pInputText
        placeholder="Cargo"
        formControlName="cargo"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('cargo')?.invalid &&
            addFuncionarioForm.get('cargo')?.touched
        }"
      />
      <input
        pInputText
        placeholder="Salario"
        formControlName="salario"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('salario')?.invalid &&
            addFuncionarioForm.get('salario')?.touched
        }"
      />
      <input
        pInputText
        placeholder="Telefone"
        formControlName="telefone"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('telefone')?.invalid &&
            addFuncionarioForm.get('telefone')?.touched
        }"
      />
      <input
        pInputText
        placeholder="CPF"
        *ngIf="addFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
        formControlName="cpf"
        (input)="formatarCPF($event, addFuncionarioForm)"
        (keyup)="formatarCPF($event, addFuncionarioForm)"
        (keydown)="formatarCPF($event, addFuncionarioForm)"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('cpf')?.invalid &&
            addFuncionarioForm.get('cpf')?.touched
        }"
      />
      <input
        pInputText
        placeholder="RG"
        *ngIf="addFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
        formControlName="rg"
        (input)="formatarRG($event, addFuncionarioForm)"
        (keyup)="formatarRG($event, addFuncionarioForm)"
        (keydown)="formatarRG($event, addFuncionarioForm)"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('rg')?.invalid &&
            addFuncionarioForm.get('rg')?.touched
        }"
      />
      <input
        pInputText
        placeholder="CNPJ"
        *ngIf="
          addFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_JURIDICA'
        "
        formControlName="cnpj"
        (input)="formatarCNPJ($event, addFuncionarioForm)"
        (keyup)="formatarCNPJ($event, addFuncionarioForm)"
        (keydown)="formatarCNPJ($event, addFuncionarioForm)"
        [ngClass]="{
          'p-invalid':
            addFuncionarioForm.get('cnpj')?.invalid &&
            addFuncionarioForm.get('cnpj')?.touched
        }"
      />

      <div formGroupName="endereco">
        <input
          pInputText
          placeholder="Rua"
          formControlName="rua"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('endereco.rua')?.invalid &&
              addFuncionarioForm.get('endereco.rua')?.touched
          }"
        />
        <input
          pInputText
          placeholder="Número"
          formControlName="numero"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('endereco.numero')?.invalid &&
              addFuncionarioForm.get('endereco.numero')?.touched
          }"
        />
        <input
          pInputText
          placeholder="Complemento"
          formControlName="complemento"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('endereco.complemento')?.invalid &&
              addFuncionarioForm.get('endereco.complemento')?.touched
          }"
        />
        <input
          pInputText
          placeholder="Bairro"
          formControlName="bairro"
          [ngClass]="{
            'p-invalid':
              addFuncionarioForm.get('endereco.bairro')?.invalid &&
              addFuncionarioForm.get('endereco.bairro')?.touched
          }"
        />
        <div formGroupName="estado">
          <p-autoComplete
            [suggestions]="filteredEstados"
            (completeMethod)="filterEstados($event)"
            [dropdown]="true"
            formControlName="nome"
            field="nome"
            optionLabel="nome"
            styleClass="w-full"
            placeholder="Selecione um estado"
            (onSelect)="onEstadoChange($event, addFuncionarioForm)"
            [ngClass]="{
              'p-invalid':
                addFuncionarioForm.get('endereco.estado.nome')?.invalid &&
                addFuncionarioForm.get('endereco.estado.nome')?.touched
            }"
          ></p-autoComplete>
        </div>
        <div formGroupName="cidade">
          <p-autoComplete
            formControlName="nome"
            [suggestions]="cidadesFiltradas"
            (completeMethod)="searchCidades($event)"
            (onSelect)="onCidadeSelect($event, addFuncionarioForm)"
            field="nome"
            styleClass="w-full"
            placeholder="Selecione uma cidade"
          ></p-autoComplete>
        </div>
      </div>

      <div
        class="flex flex-row justify-content-center align-items-center align-content-center m-1"
      >
        <button type="submit" class="p-button">Concluir</button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULÁRIO DE EDITAR CLIENTE -->
<div *ngIf="funcionarioAction.event.action === editFuncionarioAtion">
  <form [formGroup]="editFuncionarioForm" (ngSubmit)="handleSubmitEditClient()">
    <div class="card flex flex-column md:flex-column gap-3">
      <div
        class="p-field flex flex-row justify-content-center align-items-center align-content-center m-1"
      >
      </div>
      <input
        pInputText
        placeholder="Nome"
        formControlName="nome"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('nome')?.invalid &&
            editFuncionarioForm.get('nome')?.touched
        }"
      />
      <input
        pInputText
        placeholder="Cargo"
        formControlName="cargo"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('cargo')?.invalid &&
            editFuncionarioForm.get('cargo')?.touched
        }"
      />
      <input
        pInputText
        placeholder="Salario"
        formControlName="salario"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('salario')?.invalid &&
            editFuncionarioForm.get('salario')?.touched
        }"
      />
      <input
        pInputText
        placeholder="Telefone"
        formControlName="telefone"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('telefone')?.invalid &&
            editFuncionarioForm.get('telefone')?.touched
        }"
      />
      <input
        pInputText
        placeholder="CPF"
        *ngIf="editFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
        formControlName="cpf"
        (input)="formatarCPF($event, editFuncionarioForm)"
        (keyup)="formatarCPF($event, editFuncionarioForm)"
        (keydown)="formatarCPF($event, editFuncionarioForm)"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('cpf')?.invalid &&
            editFuncionarioForm.get('cpf')?.touched
        }"
      />
      <input
        pInputText
        placeholder="RG"
        *ngIf="editFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_FISICA'"
        formControlName="rg"
        (input)="formatarRG($event, editFuncionarioForm)"
        (keyup)="formatarRG($event, editFuncionarioForm)"
        (keydown)="formatarRG($event, editFuncionarioForm)"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('rg')?.invalid &&
            editFuncionarioForm.get('rg')?.touched
        }"
      />
      <input
        pInputText
        placeholder="CNPJ"
        *ngIf="
          editFuncionarioForm.get('tipoPessoa')?.value === 'PESSOA_JURIDICA'
        "
        formControlName="cnpj"
        [ngClass]="{
          'p-invalid':
            editFuncionarioForm.get('cnpj')?.invalid &&
            editFuncionarioForm.get('cnpj')?.touched
        }"
      />

      <div formGroupName="endereco">
        <input
          pInputText
          placeholder="Rua"
          formControlName="rua"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('endereco.rua')?.invalid &&
              editFuncionarioForm.get('endereco.rua')?.touched
          }"
        />
        <input
          pInputText
          placeholder="Número"
          formControlName="numero"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('endereco.numero')?.invalid &&
              editFuncionarioForm.get('endereco.numero')?.touched
          }"
        />
        <input
          pInputText
          placeholder="Complemento"
          formControlName="complemento"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('endereco.complemento')?.invalid &&
              editFuncionarioForm.get('endereco.complemento')?.touched
          }"
        />
        <input
          pInputText
          placeholder="Bairro"
          formControlName="bairro"
          [ngClass]="{
            'p-invalid':
              editFuncionarioForm.get('endereco.bairro')?.invalid &&
              editFuncionarioForm.get('endereco.bairro')?.touched
          }"
        />
        <div formGroupName="estado">
          <p-autoComplete
            [suggestions]="filteredEstados"
            (completeMethod)="filterEstados($event)"
            [dropdown]="true"
            formControlName="nome"
            field="nome"
            optionLabel="nome"
            styleClass="w-full"
            placeholder="Selecione um estado"
            (onSelect)="onEstadoChange($event, editFuncionarioForm)"
            [ngClass]="{
              'p-invalid':
                editFuncionarioForm.get('endereco.estado.nome')?.invalid &&
                editFuncionarioForm.get('endereco.estado.nome')?.touched
            }"
          ></p-autoComplete>
        </div>
        <div formGroupName="cidade">
          <p-autoComplete
            formControlName="nome"
            [suggestions]="cidadesFiltradas"
            (completeMethod)="searchCidades($event)"
            (onSelect)="onCidadeSelect($event, editFuncionarioForm)"
            field="nome"
            styleClass="w-full"
            placeholder="Selecione uma cidade"
          ></p-autoComplete>
        </div>
      </div>

      <div
        class="flex flex-row justify-content-center align-items-center align-content-center m-1"
      >
        <button type="submit" class="p-button">Concluir</button>
      </div>
    </div>
  </form>
</div>
