.access-denied-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  h1 {
    font-size: 3em;
    color: #dc3545; /* Bootstrap danger color */
  }

  p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #6c757d; /* Bootstrap secondary color */
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3; /* Darker primary color on hover */
    }
  }
}
