<div class="installment-config">
  <div class="p-field-checkbox">
    <p-checkbox
      inputId="enableInstallment"
      [binary]="true"
      [(ngModel)]="installmentEnabled"
      (onChange)="onEnabledChange()">
    </p-checkbox>
    <label for="enableInstallment">Habilitar Parcelamento</label>
  </div>

  <div *ngIf="installmentEnabled" class="installment-details">
    <div class="p-field">
      <label for="numeroParcelas">Número de Parcelas</label>
      <p-inputNumber
        id="numeroParcelas"
        [(ngModel)]="numeroParcelas"
        [min]="1"
        [max]="12"
        (onInput)="onParcelasChange()"
        [style]="{ width: '100%' }">
      </p-inputNumber>
    </div>

    <div class="p-field">
      <label for="dataVencimento">Data do Primeiro Vencimento</label>
      <p-calendar
        id="dataVencimento"
        [(ngModel)]="dataVencimento"
        [minDate]="minDate"
        dateFormat="dd/mm/yy"
        (onSelect)="onDataVencimentoChange()"
        [style]="{ width: '100%' }">
      </p-calendar>
    </div>

    <div *ngIf="parcelas.length > 0" class="parcelas-preview">
      <h4>Parcelas Calculadas:</h4>
      <p-table [value]="parcelas" [tableStyle]="{'min-width': '100%'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Parcela</th>
            <th>Valor</th>
            <th>Vencimento</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parcela let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}/{{ numeroParcelas }}</td>
            <td>{{ parcela.valor | currency }}</td>
            <td>{{ parcela.dataVencimento | date:'dd/MM/yyyy' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
