<!-- FORMULÁRIO DE NOVO ESTADO -->
<div *ngIf="estadoAction.event.action === addEstadoAction">
  <form [formGroup]="addEstadoForm" (ngSubmit)="handleSubmitAddEstado()">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="nome">Nome</label>
          <input
            pInputText
            id="nome"
            class="w-full"
            placeholder="Nome"
            formControlName="nome"
            [ngClass]="{
              'p-invalid':
                !addEstadoForm.get('nome')?.valid &&
                addEstadoForm.get('nome')?.touched
            }"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="sigla">Sigla</label>
          <input
            pInputText
            id="sigla"
            class="w-full"
            placeholder="Sigla"
            formControlName="sigla"
            [ngClass]="{
              'p-invalid':
                !addEstadoForm.get('sigla')?.valid &&
                addEstadoForm.get('sigla')?.touched
            }"
          />
        </div>
      </div>
      <div class="flex justify-content-center mt-4">
        <button type="submit" class="p-button">Concluir</button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULÁRIO DE EDITAR ESTADO -->
<div *ngIf="estadoAction.event.action === editEstadoAction">
  <form [formGroup]="editEstadoForm" (ngSubmit)="handleSubmitEditEstado()">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="editNome">Nome</label>
          <input
            pInputText
            id="editNome"
            class="w-full"
            placeholder="Nome"
            formControlName="nome"
            [ngClass]="{
              'p-invalid':
                !editEstadoForm.get('nome')?.valid &&
                editEstadoForm.get('nome')?.touched
            }"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="editSigla">Sigla</label>
          <input
            pInputText
            id="editSigla"
            class="w-full"
            placeholder="Sigla"
            formControlName="sigla"
            [ngClass]="{
              'p-invalid':
                !editEstadoForm.get('sigla')?.valid &&
                editEstadoForm.get('sigla')?.touched
            }"
          />
        </div>
      </div>
      <div class="flex justify-content-center mt-4">
        <button type="submit" class="p-button">Concluir</button>
      </div>
    </div>
  </form>
</div>
